* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    background-image: repeating-linear-gradient(45deg,
            rgba(0, 0, 0, 0.03),
            rgba(0, 0, 0, 0.03) 10px,
            transparent 10px,
            transparent 20px);
}

nav {
    height: 85px;
    background-color: rgb(150, 215, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_box {
    width: 700px;
    aspect-ratio: 4 / 3;   
    margin: 50px auto;
    border-radius: 12px;
    border: 2px solid #222;
    background-color: #000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, border 0.3s ease;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_box canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;   
    border-radius: 12px;
}

.main_box.attentive {
    border: 3px solid #00ff6a;
    box-shadow:
        0 0 15px rgba(0, 255, 106, 0.9),
        0 0 30px rgba(0, 255, 106, 0.7),
        0 0 60px rgba(0, 255, 106, 0.5);
}

.main_box.inattentive {
    border: 3px solid #ff1e1e;
    box-shadow:
        0 0 15px rgba(255, 30, 30, 0.9),
        0 0 30px rgba(255, 30, 30, 0.7),
        0 0 60px rgba(255, 30, 30, 0.5);
}
.main_box {
    transition: box-shadow 0.3s ease, border 0.3s ease;
}


.status,
.confidence {
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

.alert_box {
    width: 650px;
    margin: 40px auto 0;
    padding: 16px 20px;
    border: 2px solid #B7410E;
    border-radius: 8px;
    background-color: #ffff78;
    text-align: center;
    font-weight: bolder;
}

p1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}

p2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 20px;
    font-weight: bolder;
}